[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
livereload = "*"
jinja2 = "*"
watchdog = "*"
yaml2 = "*"

[dev-packages]
nuitka = "*"
ordered-set = "*"
pip-licenses = "*"

[requires]
python_version = "3.9"
