/*
for copy & pasting:
	primary color:   "#00A1CD"
	secondary color: "#B23D02"
	light gray:      "#B1B1B1"
	dark gray:       "#282828"
 */

/*********************************************
 * GLOBAL STYLES
 *********************************************/
.reveal {
  font-size: 36px; }  /* make stuff smaller */

::selection {
  color: #fff;
  background: #B23D02;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #B23D02;
  text-shadow: none; }


/*********************************************
 * CUSTOM COLORS
 *********************************************/
.primary { color: #00A1CD !important; }
.secondary { color: #B23D02 !important; }
.tertiary { color: #D8D8D8 !important; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #00A1CD; }

.reveal a:hover {
  color: #B1B1B1; }

.reveal .roll span:after {
  color: #fff;
  background: #00A1CD; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img { /* undo stupid img frames */
  background: none;
  border: none;
  box-shadow: none;
}

.reveal a:hover img {
  border-color: #00A1CD; }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #00A1CD; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #00A1CD; }

.reveal .progress span {
  background: #00A1CD;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #2b2b2b; } }

/*********************************************
 * DIM BACKGROUND PICTURES
 *********************************************/
html.dim .backgrounds {
	filter: brightness(.4);
}
