/*
for copy & pasting:
	primary color:   "#00A1CD"
	secondary color: "#E94C0A"
	light gray:      "#B1B1B1"
	dark gray:       "#282828"
 */

/*********************************************
 * GLOBAL STYLES
 *********************************************/

/* latin */
@font-face {
  font-family: 'Calibri';
  font-style: italic;
  font-weight: 400;
  src: local('Calibri Italic'), local('Calibri-Italic'), url(https://fonts.gstatic.com/l/font?kit=J7adnpV-BGlaFfdAhLQo6btP&skey=36a3d5758e0e2f58&v=v10) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Calibri';
  font-style: italic;
  font-weight: 700;
  src: local('Calibri Bold Italic'), local('Calibri-BoldItalic'), url(https://fonts.gstatic.com/l/font?kit=J7aYnpV-BGlaFfdAhLQgUp5aHRge&skey=8b00183e5f6700b6&v=v10) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Calibri';
  font-style: normal;
  font-weight: 400;
  src: local('Calibri'), url(https://fonts.gstatic.com/l/font?kit=J7afnpV-BGlaFfdAhLEY6w&skey=a1029226f80653a8&v=v10) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Calibri';
  font-style: normal;
  font-weight: 700;
  src: local('Calibri Bold'), local('Calibri-Bold'), url(https://fonts.gstatic.com/l/font?kit=J7aanpV-BGlaFfdAjAo9_pxqHw&skey=cd2dd6afe6bf0eb2&v=v10) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


h1, h2, h3, h4, h5, p, div, ul {
  font-family: Calibri !important;
}

.reveal {
  font-size: 36px; }  /* make stuff smaller */

::selection {
  color: #fff;
  background: #E94C0A;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #E94C0A;
  text-shadow: none; }


/*********************************************
 * CUSTOM COLORS
 *********************************************/
.primary { color: #00A1CD !important; }
.secondary { color: #E94C0A !important; }
.tertiary { color: #D8D8D8 !important; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #00A1CD; }

.reveal a:hover {
  color: #B1B1B1; }

.reveal .roll span:after {
  color: #fff;
  background: #00A1CD; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img { /* undo stupid img frames */
  background: none;
  border: none;
  box-shadow: none;
}

.reveal a:hover img {
  border-color: #00A1CD; }

/*********************************************
 * HIGHLIGHT COLORS
 *********************************************/

.reveal .slides section .fragment.highlight-blue.visible {
  color: #00A1CD; }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #00A1CD; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #00A1CD; }

.reveal .progress span {
  background: #00A1CD;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * FOOTER
 *********************************************/

.slides .footer {
  font-size: x-small !important;
  width: 100%;
  clear: both;
/*  padding: 50px 0 0 0;*/
}

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #2b2b2b; } }

/*********************************************
 * DIM BACKGROUND PICTURES
 *********************************************/
.dim .backgrounds {
	-webkit-filter: brightness(.4) !important;
	-moz-filter: brightness(.4) !important;
	-o-filter: brightness(.4) !important;
	-ms-filter: brightness(.4) !important;
	filter: brightness(.4) !important;
  -webkit-transition: -webkit-filter 100ms linear;
  transition: filter 100ms linear;
}

.dim_3 .backgrounds {
	-webkit-filter: brightness(.3) !important;
	-moz-filter: brightness(.3) !important;
	-o-filter: brightness(.3) !important;
	-ms-filter: brightness(.3) !important;
	filter: brightness(.3) !important;
  -webkit-transition: -webkit-filter 100ms linear;
  transition: filter 100ms linear;
}

.dim_8 .backgrounds {
	-webkit-filter: brightness(.8) !important;
	-moz-filter: brightness(.8) !important;
	-o-filter: brightness(.8) !important;
	-ms-filter: brightness(.8) !important;
	filter: brightness(.8) !important;
  -webkit-transition: -webkit-filter 100ms linear;
  transition: filter 100ms linear;
}

.backgrounds {
	-webkit-filter: brightness(1) !important;
	-moz-filter: brightness(1) !important;
	-o-filter: brightness(1) !important;
	-ms-filter: brightness(1) !important;
	filter: brightness(1) !important;
  -webkit-transition: -webkit-filter 1s linear;
  transition: filter 1s linear;
}
